.swiftpm
.DS_Store
/.build
/Packages
/*.xcodeproj
.swiftpm/xcode/package.xcworkspace/xcuserdata/mafalda.xcuserdatad/UserInterfaceState.xcuserstate
*.xcworkspacedata
.swiftpm/xcode/xcuserdata/mafalda.xcuserdatad/xcschemes/xcschememanagement.plist
